version: "3.9"

services:
  service:
    container_name: hospital_middleware_system
    build:
      context: ./service
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT}:8080"
    env_file:
      - .env
    restart: always

  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      TZ: "UTC"      
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  pgdata:
