name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"

      - name: Debug folder
        run: ls -la service

      - name: Download dependencies
        run: cd service && go mod download

      - name: Run unit tests
        run: cd service && go test ./internal/... ./pkg/... ./tests/... -v -race

      - name: Build binary
        run: cd service && go build -v -o service ./cmd

  docker:
    name: Build & Push Docker
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: cd service && \
             docker build -t ${{ secrets.DOCKER_USERNAME }}/hospital_middleware_system:latest . && \
             docker tag ${{ secrets.DOCKER_USERNAME }}/hospital_middleware_system:latest \
                        ${{ secrets.DOCKER_USERNAME }}/hospital_middleware_system:${{ github.sha }}

      - name: Push Docker image
        run: cd service && \
             docker push ${{ secrets.DOCKER_USERNAME }}/hospital_middleware_system:latest && \
             docker push ${{ secrets.DOCKER_USERNAME }}/hospital_middleware_system:${{ github.sha }}
